<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.localuser.retrofittest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Toolbar.ToolbarActivity"
            android:theme="@style/APPNoActionBarTheme"></activity>

        <activity
            android:name=".DrawLayout.DrawLayoutActivity"
            android:theme="@style/APPNoActionBarTheme"></activity>

        <activity android:name=".Canvas.CanvasActivity"></activity>

        <activity android:name=".View.MyViewActivity"></activity>

        <activity android:name=".AnimatorTest.AnimatorTestActivity"></activity>

        <activity android:name=".PullRefreshListView.PullRefreshActivity"></activity>

        <activity android:name=".MotionEventTest.MotionEventTestActivity"></activity>

        <activity android:name=".DialogView.DialogActivity"></activity>

        <activity android:name=".PullRefreshRecyclerView.PullRefreshRecyclerViewActivity"></activity>

        <activity android:name=".Drawable.DrawableActivity"></activity>

        <activity android:name=".Bluetooth.BluetoothActivity"></activity>

        <activity android:name=".ShareAnimator.ShareAnimatorActivity"></activity>

        <activity android:name=".ShareAnimator.SecondShareAnimActivity"></activity>

        <activity android:name=".MergeTest.MergeTestActivity"></activity>

        <activity android:name=".service.ServiceTestActivity"></activity>

        <activity android:name=".JobSchedulerTest.JobSchedulerTestActivity"></activity>

        <activity android:name=".HandlerTest.HandlerTestActivity"></activity>

        <activity android:name=".NoneMainThreadOpUI.NoneMainThreadOpUIActivity"></activity>

        <activity android:name=".DragSortListView.DslvTestActivity"></activity>
        <activity android:name=".SmallMethodTest.SmallMethodTestActivity"></activity>
        <activity android:name=".Glide.GlideTestActivity"></activity>

        <activity android:name=".JsonTest.JsonTestActivity"></activity>
        <activity android:name=".TimerTest.TimerTestActivity"></activity>
        <activity android:name=".NotificationTest.NotificationTestActivity"></activity>
        <activity android:name=".AsyncTaskTest.AsyncTaskTestActivity"></activity>
        <activity android:name=".MemoryLeak.MemoryLeakActivity"></activity>
        <activity android:name=".SocketTest.SocketTestActivity"></activity>
        <activity android:name=".ViewpagerTest.ViewpagerTestActivity"></activity>

        <activity android:name=".OKhttpTest.OKHttpTestActivity"></activity>

        <activity android:name=".MdnsTest.MdnsTestActivity"></activity>
        <activity android:name=".MemoryTest.MemoryTestActivity"></activity>

        <receiver android:name=".BootCompleteReceiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".Bluetooth.BluetoothActivity$BluetoothReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.bluetooth.device.action.FOUND" />-->
                <!--<action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"></action>-->
                <!--<action-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name=".service.ThreadService"></service>

        <service android:name=".JobSchedulerTest.MyJobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <service android:name=".service.BindService"></service>
    </application>

</manifest>